---
const {title} = Astro.props;
const {icon} = Astro.props;
---

<div class="px-8 sm:w-1/5 w-1/2 hidden">
    <img class="mx-auto" width="24" height="24" src={icon} alt={title}/>
    <p class="leading-relaxed">{title}</p>
</div>