<!-- ---
import { getCollection } from 'astro:content';

const posts = (await getCollection('portafolio')).sort(
);
---

 <header class="py-8 fixed lg:w-[25vw] w-full lg:h-full z-20 bg-[#f93348]">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">

{
    posts.map((post) => (

      <div class="flex lg:flex-col h-10 justify-between">
        <div class="md:flex md:gap-12">
            <a class="block" href="/">
                <h3 class="text-4xl font-bold text-white uppercase">{post.data.title}</h3>
            </a>
        </div>
  
        <div class="hidden md:block lg:pt-10">
            <nav aria-label="Global">
                <div class="px-3">
                    <p class="text-xl font-light text-white pb-2">Servicios</p>
                    <p class="text-ms text-white px-3">{post.data.services}</p>
                    <p class="pt-10 max-w-full text-ms text-white">{post.data.description}</p>
                </div>
            </nav>
        </div>

        <div class="flex items-center">
            <div class="flex items-center gap-4">  
                <div class="block md:hidden">
                    <div class="md:hidden text-white text-2xl" id="btnMenu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="menu" class="hidden h-screen items-center bg-[#f93348] mt-[-75px]">
        <div class="px-3">
            <p class="text-xl font-light text-white pb-2">Servicios</p>
            <p class="text-ms text-white px-3">{post.data.services}</p>
            <p class="pt-10 max-w-full text-ms text-white">{post.data.description}</p>
        </div>
    </nav>

	
    ))
}

    </div>
</header> -->
